doctype html
html(lang="#{lang}")
  head
    //- header layout
    != partial("/_includes/_head-inc")

  body
    != partial("/_includes/_header")

    main
      != yield

    //- footer layout
    != partial("/_includes/_footer")

    //- custom javascripts (and social snippets)
    != partial("/_includes/_javascript")
