| <!-- build:js scripts/main.min.js -->
| <!-- keep this -->
script(defer src="scripts/main.js")
| <!-- keep this -->
| <!-- endbuild -->

//- social media snippets
//- != partial("_social")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
