//- bower includes
!= partial("../_bower-javascript")

//- begin: your javascript files
script(defer src="assets/js/app.js")
//- end: your javascript files

//- social media snippets
//- != partial("_social")
